.post-form-authors{
  @extend .form-control;

  display: inline-block;
  min-width: 0;
  border: none;
}

.post-form-authors .tagify__input{
  display: none;
}

.post-form-tags{
  @extend .form-control;

  --tag-bg                     : #4CA9E7;
  --tag-hover                  : #1f93e1;
  --tag-text-color             : #FFF;
  --tag-remove-bg              : #c46e6e;
  --tag-remove-button-bg--hover: #6c2d2d;
  --tag-invalid-color          : #000;
  --tag-invalid-bg             :#c46e6e;
}
.post-form-tags .tagify__tag__removeBtn{
  color: #FFF;
}
.post-form-tags .tagify__tag:hover .tagify__tag__removeBtn:hover{
  transform: none;
  opacity: 1;
}

.post-form-img-select{
  text-align: center;

  /* HIDE RADIO */
  [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
    padding: 3px;
    border-width: 1px;
    border-radius: 5px;
    border-color: #ced4da;
    border-style: solid;
  }

  /* CHECKED STYLES */
  [type=radio]:checked + img {
    border-color: var(--primary);
    background-color: var(--primary);
  }

  img {
    width: 100%;
  }
}

#editor-image-popup {
  display: none;

  label {
    margin-top: 0;
  }
}

.toastui-editor-popup-body #editor-image-popup {
  display: initial;
}